<!-- start custom footer snippets -->
<footer>
<html>
<head>
<style>
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
</style>
</head>
<body>


  <p>Author: Hege Refsnes<br>
  <a href="mailto:hege@example.com">hege@example.com</a></p>


</body>
</html>  

<p>Author: Jameson Buffmire</p>
  <p><a href="mailto:jt@signalset.com">jt@SignalSet.com</a></p>





<a class="twitter-follow-button"
  href="https://twitter.com/TwitterDev"
  data-size="large">
Follow @SignalSetSLC</a>
</footer>
<!-- end custom footer snippets -->
